.cache/
.dap-breakpoints
.lsp-session*
auto-save-list/
backups/
bookmarks
eln-cache/
elpa/
eshell/
history
projectile-bookmarks.eld
projectile.cache
projectile.projects
projects
recentf
straight/
tramp
transient/
/tree-sitter/
url/
*.sqlite

/racket-mode/